.slideshow-container {
  width: 1000px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.information {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-align: left;
  z-index: 10;
  width: 200px;
  height: 60px;
  padding: 15px 20px;
  /* thêm padding để nền đen bao quanh chữ */
  background-color: rgba(0, 0, 0, 0.6);
  /* nền đen trong suốt */
  border-radius: 8px;
  /* bo góc mềm mại */
}

.information:hover {
  scale: 1.05;
  transition: all 0.3s ease;
}

.information p {
  font-size: 12px;
  font-weight: 500;
  margin: 0px;
}


.moreInfor {
  padding: 0px 0px;
  font-size: 10px;
  color: white;
  /* chữ trắng */
  background-color: transparent;
  /* nền trong suốt */
  border-radius: 6px;
  border: 0px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* chuyển động mượt */
  outline: none;
}

.moreInfor:hover {
  text-decoration: underline;
  /* gạch chữ khi hover */
}

.moreInfor:focus {
  outline: none;
  /* tắt khi focus bằng click hoặc tab */
  box-shadow: none;
  /* tắt shadow nếu có */
}